@import url("https://fonts.googleapis.com/css2?family=Share+Tech:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400&display=swap");

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inknut-antiqua: "Inknut Antiqua";
  --font-alegreya-sans-sc: "Alegreya Sans SC";
  --font-anek-latin: "Anek Latin";
  --font-rokkitt: Rokkitt;
  --font-righteous: Righteous;
  --font-share-tech: "Share Tech";
  --font-red-hat-text: "Red Hat Text";

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-45xl: 64px;
  --font-size-xl: 20px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke: #efefef;
  --color-black: #000;
}